.item{
    cursor: pointer;
    display: flex;
    margin: 0 -2rem 15px;
    justify-content: space-between;

}
.item.done {
  text-decoration: line-through;
  color: grey;
  cursor: pointer;
}
.btn {
  cursor: pointer;
  margin-left: 10px;
}
