body {
    margin: 0;
}
h1 {
    text-align: center;
}

.element-1 {
    display: flex;
    flex-wrap: wrap;
}
.element-1 a {
    width: 25%;
    box-sizing: border-box;
    padding: .25rem;
}
.element-1 img {
    width: 100%;
    display: flex;
}
