.main {
  background-color: gray;
}

.invalid-input {
  text-align: center;
  color: rgb(0, 255, 76);
  text-align: center;

}

table {
  margin: auto;
}

.delete-btn {
  float: right;
}

div {
  text-align: center;